.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Block{
  text-align: center;
  width: 70%;
  height: 30%;
  border: black solid 1px;
  padding: 3px;
  margin-bottom: 5px;
}
.active{
  background: rgb(0, 100, 120);
}
.fans{
  background: rgb(96, 201, 223);
}







